{% extends 'administracion/template_admin.html' %}

{% block nombre_usuario %}
    {{perfil.user.first_name}}
{% endblock %}

{% block nombre_principal %}
    Buscador de partidos - {{club.nombre}}
{% endblock %}


{% block barra_navegacion %}
<ol class="breadcrumb">
  <li><a href="/administrador/{{perfil.user.id}}">Inicio</a></li>
  <li class="active">Buscador de partidos</li>
</ol>
{% endblock %}

{% block fila_superior %}

{% endblock %}

{% block pagina_central %}
<div class="row">
    <div class="col-lg-12">
        <h3>Seleccione una fecha para ver los partidos</h3><hr>
    </div>
</div>
<form id="form_buscador_partidos" method="POST" action="/administrador/{{perfil.user.id}}/buscador">
<div class="row">
    <div class="col-lg-12 col-md-12">
        {% csrf_token %}
        <div class="form-group col-lg-1"><label for='fecha'>Fecha: </label></div>
        <div class="form-group col-lg-3">
            <input type="text" id="id_fecha" name="fecha" placeholder="dd/mm/aaaa" class="form-control" value='{{fecha|date:"d/m/Y"}}' />
        </div>
        <div class="form-group col-lg-2"><label for='franja_hora'>Franja horaria: </label></div>
        <div class="form-group col-lg-4">
             <select id="id_hora" name="franja_horaria" class="form-control">
                 <option value="0">Seleccione hora...</option>
                 {% for fh in franjas_horarias %}
                 <option value="{{fh.id}}" {% if franja_hora == fh.id %}selected="selected"{%endif%}>
                    {{fh.inicio|time:'G:i'}} - {{fh.fin|time:'G:i'}}
                 </option>
                {% endfor %}
             </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="form-group col-lg-4">
            <button type="button" id="btn_buscar" class="btn btn-success" aria-label="Right Align" onclick="javascript:busca_partidos();">
                <i class="fa fa-search"></i> Buscar
            </button>
        </div>
    </div>
</div>
</form>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <h4>Partidos encontrados: </h4><hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        {% for p in partidos %}
            {% if forloop.counter0|divisibleby:"2" %}
                <div class="row">
            {% endif %}
                <div class="col-lg-1"></div>
                <a href="/administrador/{{perfil.user.id}}/partido/{{p.id}}/editar" title="Ver/Editar este partido">
                    <div id="pista_{{pista.id}}"  class="principal_partido col-lg-4  row-altura row-margin-top-10
                                {%if p.perfiles.count == 4%} pista_verde
                                {%elif p.perfiles.count > 0 and p.perfiles.count < 4 %} pista_amarilla
                                {%elif p.es_partido_evento %} pista_evento
                                {%else%}pista_roja{%endif%}">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 row-centered">
                                <h4 class="color_blanco">{{p.pista.nombre}}</h4>
                                <h4 class="color_blanco">- {{p.pista.deporte.deporte}} -</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 row-centered">
                                <h5 class="color_blanco">{{p.fecha}}</h5>
                                <h5 class="color_blanco">{{p.franja_horaria.inicio|time:'G:i'}}</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="col-lg-1"></div>
            {% if not forloop.counter0|divisibleby:"2"  or forloop.last %}
                </div>
            {% endif %}
        {% empty %}
            No hay resultados para mostrar
        {% endfor %}
    </div>
</div>
<div class="row row-margin-top-10">

</div>
{% endblock %}

{% block js %}

{% endblock %}