{% extends 'administracion/template_admin.html' %}

{% block nombre_usuario %}
    {{perfil.user.first_name}}
{% endblock %}

{% block nombre_principal %}
    Nuevo partido - {{club.nombre}}
{% endblock %}


{% block barra_navegacion %}
<ol class="breadcrumb">
  <li><a href="/administrador/{{perfil.user.id}}">Inicio</a></li>
  <li class="active">Crear partido</li>
</ol>
{% endblock %}

{% block fila_superior %}

{% endblock %}

{% block pagina_central %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <form id='form_crear_partido_fecha_hora' method='post' action='/administrador/{{perfil.user.id}}/nuevo' role="form">{% csrf_token %}
                <input type="hidden" name="club" id="club_id_form" value="{{club.id}}">
                <input type="hidden" name="action" id="action_disponibilidad_form" value="disponibilidad">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-12 col-md-12">
                            <h3>1. Seleccione fecha y hora</h3> <hr>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group col-lg-1"><label for='fecha'>Fecha: </label></div>
                                <div class="form-group col-lg-4"><input type="text" id="id_fecha" name="fecha" placeholder="dd/mm/aaaa" class="form-control" onchange="javascript:actualiza_form_partido('id_fecha')" value="{{fecha}}" /></div>
                                <div class="form-group col-lg-1"><label for='hora'>Hora: </label></div>
                                <div class="form-group col-lg-4">
                                    <select id="id_hora" name="franja_horaria" class="form-control" onchange="javascript:actualiza_form_partido('id_hora')">
                                        <option value="0">Seleccione hora...</option>
                                        {% for fh in franjas_horarias %}
                                            <option value="{{fh.id}}" {% if franja_horaria == fh.id %}selected="selected"{%endif%}>
                                                {{fh.inicio|time:'G:i'}} - {{fh.fin|time:'G:i'}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-12 col-md-12">
                            <h3>2. Seleccione pista</h3> <hr>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group col-lg-1"><label for='pista'>Pista: </label></div>
                        <div class="form-group col-lg-4">
                            <select id="id_pista" name="pista" class="form-control" onchange="javascript:actualiza_form_partido('id_pista')">
                                <option value="0">Seleccione pista...</option>
                                {% for p in pistas %}
                                    <option value="{{p.id}}" {% if pista == p.id %}selected="selected"{%endif%}>
                                        {{p.nombre}} - {{p.deporte.deporte}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group col-lg-12">
                            {% if disponible %}
                            <button type="button" id="btn_disponibilidad" class="btn btn-success pull-left" aria-label="Right Align" onclick="javascript:comprobar_disponibilidad_partido(true);">
                                <i class="fa fa-times" id="icono_pista_no_disponible" style="display:none"></i>
                                <i class="fa fa-check-square-o" id="icono_pista_disponible" style="display:none"></i>
                                <i class="fa fa-refresh fa-spin" id="icono_comprobar_disponibilidad" style="display:none"></i> Comprobar disponibilidad
                            </button>
                            {% else %}
                            <button type="button" id="btn_disponibilidad" class="btn btn-primary pull-left" aria-label="Right Align" onclick="javascript:comprobar_disponibilidad_partido(false);">
                                <i class="fa fa-times" id="icono_pista_no_disponible" style="display:none"></i>
                                <i class="fa fa-check-square-o" id="icono_pista_disponible" style="display:none"></i>
                                <i class="fa fa-refresh fa-spin" id="icono_comprobar_disponibilidad" style="display:none"></i> Comprobar disponibilidad
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% if not disponible == None and disponible == False %}
                    <div class="alert alert-danger" role="alert" id="error_pista">La pista seleccionada no está disponible en esa hora y esa fecha</div>
                {% endif %}
                <div class="alert alert-danger" role="alert" id="error_pista" style="display:none">
                    La pista seleccionada no está disponible en esa hora y esa fecha
                </div>
                <div class="alert alert-danger" role="alert" style="display:none" id="error_campos_partido">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Por favor, rellene todos los campos del formulario
                </div>
                <div class="alert alert-danger" role="alert" style="display:none" id="error_fecha_disponibilidad">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Seleccione una fecha posterior a hoy.
                </div>
            </div>
        </div>
    </div>
</div>

{% if disponible %}
<div class="row" id="row_partido"> <!--style="display:none"-->
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3>3. Seleccione jugadores</h3> <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="well well-sm">
                    <p>Recuerde que no aparecerán los jugadores que ya tengan partido programado para esa hora, en esa fecha<br>
                       La posición en la que aparecen situadas los jugadores no son las parejas creadas.<br>
                       Si lo desea, puede aplicar un filtro de nivel.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 form-group">
                                <h4>Filtrar jugadores por nivel: </h4>
                            </div>
                            <div class="col-lg-6 col-md-6 form-group">
                                <select class="form-control" id="nivel_filtro" onchange="javascript:filtrar_niveles_jugadores()">
                                    <option value="0">Ver todos</option>
                                    {% for nivel in niveles %}
                                        {% if nivel.deporte.id == deporte_id %}
                                            <option value="{{nivel.id}}">{{nivel.nivel}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 form-group">
                                <h4>Filtrar por palabra clave: </h4>
                            </div>
                            <div class="col-lg-6 col-md-6 form-group">
                                <input type="text" id="palabra_clave" value="" class="form-control" onkeyup="javascript:filtrar_palabra_clave()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="tabla_jugadores"><!-- dataTables-jugadores-busqueda -->
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Usuario</th>
                                        <th>Teléfono</th>
                                        <th>Nivel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for jugador in jugadores %}
                                    <tr id="fila_{{jugador.perfil.id}}" title="Añadir a {{jugador.perfil.user.first_name}}" onclick="javascript:incluir_jugador('{{jugador.perfil.id}}','{{jugador.perfil.user.first_name}}', '{{jugador.perfil.user.username}}', '{{jugador.perfil.telefono}}');" class="principal_partido">
                                        <td>{{forloop.counter}}</td>
                                        <td class="campo_busqueda">{{jugador.perfil.user.first_name}}</td>
                                        <td class="campo_busqueda">{{jugador.perfil.user.username}}</td>
                                        <td class="campo_busqueda">{{jugador.perfil.telefono}}</td>
                                        <td>
                                            {% for n in jugador.perfil.deporteNivel.all %}
                                                {% if n.deporte.id == deporte_id %}
                                                    {{n.nivel}}
                                                    <input type="hidden" id="nivel_jugador_{{jugador.perfil.id}}" class="nivel" value="{{n.id}}">
                                                {% else %}
                                                    <input type="hidden" id="nivel_jugador_{{jugador.perfil.id}}" class="nivel" value="">
                                                {% endif %}
                                            {% empty %}
                                                <input type="hidden" id="nivel_jugador_{{jugador.perfil.id}}" class="nivel" value="">
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h4>Jugadores seleccionados</h4> <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="table-responsive">
                            <table class="table" id="tabla_jugadores_partido">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Usuario</th>
                                        <th>Teléfono</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <form action="" method="post" id="form_partido_nuevo">
                                    {% csrf_token %}
                                    <input type="hidden" id="id_hora_form" name="hora" value="{{franja_horaria}}"/>
                                    <input type="hidden" id="id_fecha_form" name="fecha" value="{{fecha}}"/>
                                    <input type="hidden" id="id_pista_form" name="pista" value="{{pista}}"/>
                                    <input type="hidden" id="id_usuario_form" name="user" value="{{perfil.user.id}}"/>
                                    <input type="hidden" id="max_jugadores" value="{{map_jugadores|length}}">
                                    <input type="hidden" id="visible" name="visible" value="1">
                                    <input type="hidden" id="notificar" name="notificar" value="1">
                                    {% for num, jug in map_jugadores.iteritems %}
                                        {% if jug == "" %}
                                        <tr class="warning vacio">
                                            <td><h5>{{num}}</h5></td>
                                            <td><h5 class="nombre"></h5></td>
                                            <td><h5 class="username"></h5></td>
                                            <td><h5 class="telefono"></h5></td>
                                            <td align="right">
                                                <h5><i class="fa fa-futbol-o fa-fw"></i></h5>
                                            </td>
                                            <input type="hidden" class="perfil_id" value="" name="jugador{{num}}">
                                        </tr>
                                        {% else %}

                                        {% endif %}
                                    {% endfor %}
                                </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="checkbox" title="Los jugadores podrán ver e inscribirse en este partido desde su cuenta.">
                            <label>
                                <input type="checkbox" checked="checked" onchange="javascript:actualiza_estado_visible(this, 'visible');"> Partido público
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="checkbox" title="Los jugadores recibirán un email con los datos del partido">
                            <label>
                                <input type="checkbox" checked="checked" onchange="javascript:actualiza_estado_visible(this, 'notificar');"> Enviar notificaciones
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" id="botonera_form_nuevo_partido">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <button type="button" id="btn-reiniciar-partido" title="Reiniciar valores" class="btn btn-warning pull-left" aria-label="Right Align" onclick="javascript:reiniciar_jugadores_nuevo_partido();">
                                  <i class="fa fa-share fa-fw"></i> Reiniciar
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <button type="button" id="btn-submit-partido" class="btn btn-primary  pull-right" aria-label="Right Align" onclick="javascript:submit_nuevo_partido('nuevo_partido');">
                                  <i class="fa fa-plus-circle fa-fw"></i> Crear partido
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-margin-top-10" id="advertencia_nuevo_partido" style="display: none">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-warning" role="alert">
                                    <strong>¡Cuidado!</strong>
                                    El partido no tiene el máximo de jugadores. ¿Desea continuar?
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <button type="button" class="btn btn-danger" aria-label="Right Align" onclick="javascript:submit_nuevo_partido_cancelar();">
                                  <i class="fa fa-minus-square fa-fw"></i> Cancelar
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <button type="button" class="btn btn-success  pull-right" aria-label="Right Align" onclick="javascript:guardar_partido('nuevo_partido');">
                                  <i class="fa fa-plus-circle fa-fw"></i> Continuar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-margin-top-10" id="error_nuevo_partido" style="display: none">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-danger" id="error_nuevo_partido_texto" role="alert"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-margin-top-10" id="confirmado_nuevo_partido" style="display: none">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-success" role="alert">
                                    <strong>¡Exito!</strong>
                                    El partido se ha creado correctamente
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="/administrador/{{perfil.user.id}}/nuevo" id="form_redireccion">
    <input type="hidden">
</form>
{% endif %}

{% endblock %}

{% block js %}
    //$("#enlace_crear_partido").addClass("active")
{% endblock %}