<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

    <!-- META Tags -->
    <META name="description" content="Gestión de pistas deportivas, organiza tu club, usuarios y partidos. Inscripción de jugadores. Reserva de pistas online">
    <META name="keywords" content="Gestión de pistas deportivas, Aplicación gestionar club, Montar partidos,
    Gestión de pistas de padel gratis, programa gestion padel, eservas online, gimnasios, gestion deportiva, reserva pistas online,
    centros deportivos, instalaciones, deportes, reservar, reservas">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png">

    <!-- jQuery -->
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
     <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/landing-page.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Javascript -->
    <script type="text/javascript" src="{{STATIC_URL}}js/js.js"></script>
    <!-- Css propio -->
    <link href="{{STATIC_URL}}css/application.css" rel="stylesheet" type="text/css">
    <!-- jQuery UI -->
    <script type="text/javascript" src="{{STATIC_URL}}jquery-ui/jquery-ui.js"></script>
    <link href="{{STATIC_URL}}jquery-ui/jquery-ui.css" rel="stylesheet"/>

    <script type="text/javascript">
        $(document).ready(function(){
            submit_intro();
        });
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84478782-1', 'auto');
      ga('send', 'pageview');

    </script>

    <title>Sportclick: Gestión de pistas deportivas</title>
</head>
<body>
        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Sport Click</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:loginDialog();">Acceder</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#services">Servicios</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Sport Click</h1>
                        <h3>Gestión de pistas deportivas</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                               <button type="button" class="btn btn-warning btn-lg" onclick="javascript:desplaza('apartado_registro')">
                                    Registro
                               </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login_modal">
                                    Acceder
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Gestión de pistas deportivas:</h2>
                    <p class="lead">
                        Gestiona tu club, organiza jugadores en partidos, crea partidos públicos.
                        Ahora es mucho más fácil montar partido. Dale mucha más visibilidad a tu club y ¡que nadie se quede sin jugar!
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{STATIC_URL}}img/partidos.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Estadísticas</h2>
                    <p class="lead">
                        Obten todo tipo de estadísticas que te ayuden a incrementar los beneficios de tu club.
                        Jugadores que más juegan, horas en las que más se alquilan pistas, etc.
                        ¡Aprovéchate!
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                     <img class="img-responsive" src="{{STATIC_URL}}img/graficas.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Diseño adaptado:</h2>
                    <p class="lead">
                        Puedes gestionar todo el club desde tu teléfono móvil, gracias al diseño adaptado <br>
                        que te ofrecemos.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{STATIC_URL}}img/responsive-design2.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


     <div class="content-section-b" id="apartado_registro">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">¿Quieres jugar? </h2>
                    <p class="lead">
                        ¡Únete! Sólo tienes que rellenar el formulario y seleccionar los clubes en los que deseas participar.<br>
                        ¡Lo siguiente es divertirse!
                    </p>
                    <h2 class="section-heading">¿Tienes un club? </h2>
                    <p class="lead">
                        Comunícate con nostros a través del apartado de contacto, y ¡disfruta de todas las ventajas que ofrece Sport Click!
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <form id='form_registro' method='post' action='' role="form">{% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label for='nombre'>Nombre: </label>
                                        {{registro_form.nombre}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label for='apellidos'>Apellidos: </label>
                                        {{registro_form.apellidos}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label for='username'>Nombre de Usuario: </label>
                                        {{registro_form.username}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label for='email'>Email: </label>
                                        {{registro_form.email}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label for='password'>Contraseña: </label>
                                        {{registro_form.password1}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label for='password2'>Confirmar contraseña: </label>
                                        {{registro_form.password2}}
                                    </div>
                                </div>
                                <div class="row error" id="div_form_registro_error" style="display:none">
                                    <div class="form-group col-lg-12">
                                        <p class="bg-danger my_error" id="form_registro_error"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <button type="button" class="btn btn-success  pull-right" aria-label="Right Align" onclick="javascript:submit_registro();">
                                          <span class="glyphicon glyphicon-user" id="icono_registro" aria-hidden="true"></span> Registrar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <a  name="contact"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Contacto:</h2>
                    <p class="lead">
                        Para obtener más información sobre nuestros servicios, rellena el formulario de contacto y
                        nos pondremos en contacto contigo lo antes posible.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                   <div class="row">
                        <div class="col-lg-12">
                            <form action="" method="POST" id="form_contacto">{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-2 form-group">
                                        <label for="subject">Título: </label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" name="subject" id="subject" class="form-control" placeholder="Título">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 form-group">
                                        <label for="email_contacto">Email: </label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" name="from_email" id="from_email" class="form-control" placeholder="Email de contacto">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 form-group">
                                        <label for="message">Mensaje: </label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <textarea name="message" id="message" class="form-control" placeholder="Cuerpo del mensaje"></textarea>
                                    </div>
                                </div>
                                <div class="row" style="display:none" id="error_email">
                                    <div class="col-lg-8 form-group">
                                        <div class="alert alert-danger" role="alert"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 form-group">
                                        <button type="button" class="btn btn-success" aria-label="Right Align" onclick="javascript:validar_email();">
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Enviar consulta
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Inicio</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#login_modal">Acceder</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Servicios</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contacto</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Sport Click 2015. Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- registro -->
    <div id="div_registro" style="display: none">
        <div class="container col-lg-12">

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
                <div class="modal-content">
                      <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Acceso a la aplicación</h4>
                      </div>
                      <div class="modal-body">
                            <form id='form_login' method='post' action='' role="form">{% csrf_token %}
                                    <h5>Nombre de usuario o Email: </h5>
                                    {{login_form.usuario}}
                                <br>
                                    <label for='password'>Contraseña: </label>
                                    {{login_form.password}}
                            </form>
                            <a data-toggle="modal" href="javascript:pass_olvidada();"><h5>¿Has olvidado tu contraseña?</h5></a>
                            <p class="bg-danger my_error" id="form_error" style="display:none"></p>
                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                            </button>
                            <button type="button" class="btn btn-success" onclick="javascript:submit_login();">
                                <span class="glyphicon" id="icono_login" aria-hidden="true"></span> Acceder
                            </button>
                      </div>
                </div>
          </div>
    </div>

    <div class="modal fade" id="login_modal_pass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
                <div class="modal-content">
                      <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="recuperar_pass_title">Recuperar contraseña</h4>
                      </div>
                      <div class="modal-body">
                            <form id='form_password' method='post' action='' role="form">{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for='email'>Usuario o email: </label>
                                            <input type="text" id="email_pass" value="" name="email_pass" class="form-control" placeholder="Introduce email o tu usuario"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="bg-danger my_error" id="form_error_pass" style="display:none"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-info" id="alert_pass" role="alert">Te enviaremos un email con tu nueva contraseña</div>
                                    </div>
                                </div>
                            </form>
                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                            </button>
                            <button id="btn-pass" type="button" class="btn btn-success" onclick="javascript:submit_olvida_pass();">
                                <span class="glyphicon" id="icono_login_pass" aria-hidden="true"></span> Enviar
                            </button>
                      </div>
                </div>
          </div>
    </div>

    <!-- Formularios redirección -->
    <form id="form_redirige" action=""></form>

</body>
</html>