<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

    <!-- Schema  org -->
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Product",
        "brand": "Gestion de pistas deportivas",
        "logo": "http://www.gestiondepistasdeportivas.com/static/img/Logo_v2.png",
        "category": "Gestión de pistas deportivas",
        "name": "Gestión de pistas deportivas"
        }
    </script>

    <!-- META Tags -->


    <!-- Favicon -->
    <link rel="shortcut icon" href="{{STATIC_URL}}img/Logo_v2.png?v=1">

    <!-- jQuery -->
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
     <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/landing-page.css?version=2" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Javascript -->
    <script type="text/javascript" src="{{STATIC_URL}}js/js.js?v=1"></script>
    <!-- Css propio -->
    <link href="{{STATIC_URL}}css/application.css?version=2" rel="stylesheet" type="text/css">
    <!-- jQuery UI -->
    <script type="text/javascript" src="{{STATIC_URL}}jquery-ui/jquery-ui.js"></script>
    <link href="{{STATIC_URL}}jquery-ui/jquery-ui.css" rel="stylesheet"/>
    <!-- Font awesome -->
    <link href="{{STATIC_URL}}admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        $(document).ready(function(){
            submit_intro();

            inicializar_datepicker();
        });
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84478782-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Compartir partido en facebook -->
    <meta property="og:title" content="Partido en Sportclick.com" />
    <meta property="og:description" content="Hoy juego un partido en {{club.nombre}}, con Sportclick" />
    <meta property="og:image" content="{{MEDIA_URL}}{{club.imagen}}"/>
    <meta property="og:url" content="http://{{request.get_host}}/club/{{club.separa_guiones_nombre}}/partidos/{{partido.id}}" />



    <title>Sportclick: Gestión de pistas deportivas</title>
</head>
<body>
        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Sport Click</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:loginDialog();">Acceder</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/buscador/club">Clubes</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#services">Servicios</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12  col-lg-offset-5">
                    <h2 class="section-heading">{{club.nombre}} en {{club.municipio.municipio}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    {% if club.imagen == "" %}
                        <img src="{{STATIC_URL}}img/club-no-image.png" alt="{{club.nombre}}" class="img-rounded img-buscador" title="{{club.nombre}}" style="max-width: 100%">
                    {% else %}
                        <img src="{{MEDIA_URL}}{{club.imagen}}" alt="{{club.nombre}}" class="img-rounded img-buscador" title="{{club.nombre}}" style="max-width: 100%">
                    {% endif %}
                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5><stong>Dirección:</stong></h5>
                            <p class="cursiva">{{club.direccion}}</p>
                        </div>
                        {% if club.facebook and club.facebook != ""%}
                            <div class="col-lg-12">
                                <h5><stong>Facebook:</stong></h5>
                                <p class="cursiva"><a href="{{club.facebook}}">{{club.facebook}}</a></p>
                            </div>
                        {% endif %}
                        <div class="col-lg-12">
                            <h5><stong>Descripción:</stong></h5>
                            <p class="cursiva">{{club.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-right">
                    <a class="btn btn-primary btn-rrss"
                       href="http://www.facebook.com/sharer.php?u=http://{{request.get_host}}/club/{{club.separa_guiones_nombre}}/partidos/{{partido.id}}" target="_blank" role="button" data-site="">

                        <i class="fa fa-thumbs-up fa-fw"></i> Compartir este partido en Facebook
                    </a>
                </div>
            </div>

            <div class="row">
                <hr/>
            </div>
            <div class="row">
                {% if club.facebook %}
                    <div class="col-lg-3">
                        <!-- API Facebook -->
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>

                        <!-- Panel Facebook -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-facebook fa-fw"></i> El club en Facebook
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% if club.facebook %}
                                            <div class="fb-page" data-href="{{club.facebook}}"
                                            data-tabs="timeline" data-small-header="false"
                                            data-adapt-container-width="true"
                                            data-hide-cover="false" data-show-facepile="true">
                                            <blockquote cite="{{club.facebook}}"
                                            class="fb-xfbml-parse-ignore">
                                            <a href="{{club.facebook}}" target="_blank">{{club.nombre}}</a></blockquote></div>
                                        {% else %}
                                            <h5>No has registrado ninguna cuenta de Facebook aún. Puedes hacerlo desde la
                                            <a href="/administrador/{{perfil.user.id}}/club"> página de administración del club</a>
                                            </h5>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col-lg-9">

                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <h4>Fecha</h4>
                            <em>{{partido.fecha}}</em>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h4>Hora</h4>
                            <em>{{partido.franja_horaria.inicio|time:'G:i'}} - {{partido.franja_horaria.fin|time:'G:i'}}</em>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h4>Pista</h4>
                            <em>{{partido.pista.nombre}}</em>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12"><hr/></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            {% if not request.user.is_authenticated %}

                                <div class="alert alert-warning" role="alert">

                                    <p><a href="javascript:loginDialog();">Accede</a> para ver este contenido</p>

                                </div>

                            {% else %}

                                {% for jugador in partido.perfiles.all %}

                                    {% if forloop.counter0|divisibleby:2 %}
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                    {% endif %}

                                        <div class="col-lg-5 padding5 border-radius">
                                            <div class="row over-fondo-info">
                                                <div class="col-lg-4  border-left">
                                                    {% if jugador.imagen == "" %}
                                                        <img src="{{STATIC_URL}}img/no-image.png" title="Imagen no disponible" alt="{{jugador.user.first_name}}" class="img-responsive img-rounded">
                                                    {% else %}
                                                        <img src="{{MEDIA_URL}}{{jugador.imagen}}" title="{{jugador.user.first_name}}" alt="{{jugador.user.first_name}}" class="img-responsive img-rounded">
                                                    {% endif %}
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <div class="col-lg-12"><i class="fa fa-tag fa-1"></i> <strong>Usuario:</strong> {{jugador.user.username}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>

                                    {% if not forloop.counter0|divisibleby:2 %}
                                    </div>
                                    {%else%}
                                    <div class="col-lg-1"></div>
                                    {% endif %}

                                {% empty %}

                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4>Ups, todavía no hay jugadores inscritos en este partido</h4>
                                    </div>
                                </div>

                                {% endfor %}

                            {% endif %}

                        </div>
                    </div>

                </div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

    </div>
    <!-- ./content-section-a -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Inicio</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#login_modal">Acceder</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Servicios</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contacto</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Sport Click 2016. Todos los derechos reservados</p>
                </div>
                <div class="col-lg-4">
                    <div class="fb-like" data-href="https://www.facebook.com/gestiondepistasdeportivas" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true">

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
                <div class="modal-content">
                      <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Acceso a la aplicación</h4>
                      </div>
                      <div class="modal-body">
                            <form id='form_login' method='post' action='' role="form">{% csrf_token %}
                                    <h5>Nombre de usuario o Email: </h5>
                                    {{login_form.usuario}}
                                <br>
                                    <label for='password'>Contraseña: </label>
                                    {{login_form.password}}
                            </form>
                            <a data-toggle="modal" href="javascript:pass_olvidada();"><h5>¿Has olvidado tu contraseña?</h5></a>
                            <a href="/#apartado_registro"><h5>Aún no tengo cuenta</h5></a>
                            <p class="bg-danger my_error" id="form_error" style="display:none"></p>
                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                            </button>
                            <button type="button" class="btn btn-success" onclick="javascript:submit_login();">
                                <span class="glyphicon" id="icono_login" aria-hidden="true"></span> Acceder
                            </button>
                      </div>
                </div>
          </div>
    </div>

    <div class="modal fade" id="login_modal_pass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
                <div class="modal-content">
                      <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="recuperar_pass_title">Recuperar contraseña</h4>
                      </div>
                      <div class="modal-body">
                            <form id='form_password' method='post' action='' role="form">{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for='email'>Usuario o email: </label>
                                            <input type="text" id="email_pass" value="" name="email_pass" class="form-control" placeholder="Introduce email o tu usuario"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="bg-danger my_error" id="form_error_pass" style="display:none"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-info" id="alert_pass" role="alert">Te enviaremos un email con tu nueva contraseña</div>
                                    </div>
                                </div>
                            </form>
                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cerrar
                            </button>
                            <button id="btn-pass" type="button" class="btn btn-success" onclick="javascript:submit_olvida_pass();">
                                <span class="glyphicon" id="icono_login_pass" aria-hidden="true"></span> Enviar
                            </button>
                      </div>
                </div>
          </div>
    </div>

    <!-- Formularios redirección -->
    <form id="form_redirige" action=""></form>

    <!-- DIV Redes sociales -->
    <div class="redes_sociales">
        <a class="btn btn-primary btn-rrss" href="https://www.facebook.com/gestiondepistasdeportivas" target="_blank" role="button" id="btn-facebook"
                onmouseenter="addHtml('in')" onmouseout="addHtml('out')">
            <i class="fa fa-thumbs-up fa-fw"></i>
        </a>
    </div>

    <!-- API Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</body>
</html>