.ui-widget-header
{
    background-color: none;
    color: Black;
}
.my_error{
    padding: 15px;
}
footer{
    padding-top: 25px;
}
.enlace_negro{
    color: #333;
}
.pista_verde{
    background-image: url("../img/verde.png");
    background-repeat:no-repeat;
    background-position: center top;
}
.pista_amarilla{
    background-image: url("../img/amarillo.png");
    background-repeat:no-repeat;
    background-position: center top;
}
.pista_roja{
    background-image: url("../img/rojo.png");
    background-repeat:no-repeat;
    background-position: center top;
}

.color-pista-roja{
    color: rgb(190,100,99) !important;
}

.color-pista-amarilla{
    color: rgb(217,216,112) !important;
}

.color-pista-verde{
    color: rgb(131,179,112) !important;
}

.row-centered {
    text-align:center;
}
.row-margin-top-10{
    margin-top: 10px;
}
.partido{
    margin-top: 5px;
}
.row-borde-abajo{
    border-bottom: 1px solid black;
}
.row-altura{
    min-height: 200px !important;
}
.row-altura-500{
    min-height: 200px;
}

.row-sin-margen-superior{
    padding-top:0;
    margin-top:0;
}
.margen_superior{
    padding-top: 5px;
}
.fija_arriba_izquierda{
    position: fixed;
    top: 0;
    right: 0;
}

.principal_partido{
    cursor: pointer;
}

.color_blanco{
    color: #FFF !important;
}

.cursiva{
    font-style: italic;
}

.fondo-info{
    background-color: #d9edf7 !important;
}
.gris{
    color: #6E6E6E;
}

.border-info{
    border: solid 1px #d9edf7 !important;
}

.over-fondo-info:hover{
    background-color: #d9edf7 !important;
}

.padding5{
    padding: 5px;
}

.btn-redondo{
    border-radius: 50px !important;
}

.oculto{
    display: none !important;
}

.strong{
    font-weight: bold;
}

.border-radius{
    border-radius: 5px;
}

.border-left{
    border-left: solid 3px #AAAAAA;
}

.border-right{
    border-right: solid 1px #AAAAAA;
}

.min_height_50{
    min-height: 50px;
}

.color-seleccionado{
    color: #337ab7;
}

.oscuro{
    color: #333 !important;
}

.link_limpio{
    text-decoration: none !important;
}