{% extends 'usuarios/template_usuarios.html' %}
{% block nombre_usuario %}
    {{perfil.user.first_name}}
{% endblock %}

{% block nombre_principal %}
    Partidos
{% endblock %}

{% block barra_navegacion %}
<ol class="breadcrumb">
    <li><a href="/usuario/{{perfil.user.id}}">Inicio</a></li>
    {% if retorno and texto_retorno %}
        <li><a href="{{retorno}}">{{texto_retorno}}</a></li>
    {% endif %}
    <li class="active">Partido</li>
</ol>
{% endblock %}

{% block fila_superior %}
{% endblock %}

{% block pagina_central %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <h4>Datos del partido:</h4><hr>
    </div>
</div>
<!-- Evento del partido -->
{% if partido.es_partido_evento %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="alert alert-info" role="alert">
                Este partido pertenece al evento <strong>{{partido.evento_nombre}}</strong>
            </div>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h5><strong>Fecha: </strong>{{partido.fecha}}</h5>
                    </div>
                    <div class="col-lg-6">
                        <h5><strong>Hora: </strong>{{partido.franja_horaria.inicio|time:'G:i'}} - {{partido.franja_horaria.fin|time:'G:i'}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h5><strong>Club: </strong>{{partido.club}}</h5>
                    </div>
                    <div class="col-lg-6">
                        <h5><strong>Pista: </strong>{{partido.pista.nombre}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h5><strong>Nivel medio de juego: </strong>{{nivel_medio}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <h4>Jugadores: ({{partido.perfiles.all|length}})</h4><hr>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
{% for jugador in partido.perfiles.all %}

    {% if forloop.counter0|divisibleby:2 %}
    <div class="row">
        <div class="col-lg-1"></div>
    {% endif %}

        <div class="col-lg-5 padding5 border-radius">
            <div class="row over-fondo-info">
                <div class="col-lg-4  border-left">
                    {% if jugador.imagen == "" %}
                        <img src="{{STATIC_URL}}img/no-image.png" title="Imagen no disponible" alt="{{jugador.user.first_name}}" class="img-responsive img-rounded">
                    {% else %}
                        <img src="{{MEDIA_URL}}{{jugador.imagen}}" title="{{jugador.user.first_name}}" alt="{{jugador.user.first_name}}" class="img-responsive img-rounded">
                    {% endif %}
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12"><i class="fa fa-tag fa-1"></i> <strong>Nombre:</strong> {{jugador.user.first_name}} {{jugador.user.last_name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12"><i class="fa fa-location-arrow fa-1"></i> <strong>Nivel:</strong>
                            {% for n in jugador.deporteNivel.all %}
                                {% if n.deporte.id == partido.pista.deporte.id %}
                                    {{n.nivel}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <i class="fa fa-mobile fa-1"></i> <strong>Teléfono:</strong>
                            {{perfil.telefono}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

    {% if not forloop.counter0|divisibleby:2 %}
    </div>
    {%else%}
    <div class="col-lg-1"></div>
    {% endif %}

{% endfor %}
    </div>
</div>

<div class="row row-margin-top-10">
    <div class="col-lg-12"></div>
</div>

<div class="row">
    <div class="col-lg-6">
        {% if retorno and texto_retorno %}
            <a class="btn btn-info pull-left" href="{{retorno}}" role="button"><i class="fa fa-angle-double-left"></i> Volver</a>
        {% endif %}
    </div>
    <div class="col-lg-6">
        {% if not partido.bloqueado and not bloqueo_usuario and not bloqueo_notificaciones %}
            <button type="button" id="btn_inscripcion" class="btn btn-info pull-right" aria-label="Right Align" onclick="javascript:inscripcion_partido();">
                <i class="fa fa-check"></i> Inscribirme en este partido
            </button>
            <form id="peticion_partido" action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="partido" value="{{partido.id}}">
                <input type="hidden" name="perfil" value="{{perfil.id}}">
            </form>
        {% else %}
            {% if bloqueo_notificaciones %}
                <button type="button" disabled = "disabled" class="btn btn-success pull-right" aria-label="Right Align">
                    <i class="fa fa-check"></i> Petición enviada
                </button>
            {% endif %}
            {% if bloqueo_usuario %}
                <button type="button" disabled = "disabled" class="btn btn-success pull-right" aria-label="Right Align">
                    <i class="fa fa-check"></i> Inscrito en este partido
                </button>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row form-group" style="display:none">
    <div class="col-lg-12 col-md-12">
        <div class="alert alert-danger" id="error_inscripcion" role="alert"></div>
    </div>
</div>

<div class="row row-margin-top-10">
    <div class="col-lg-12"></div>
</div>

<!-- Comentarios partido -->

<!-- Nuevo comentario -->
<div class="row">
    <div class="col-lg-12">
        <form id='form_comentario' method='post' action='/nuevoComentarioPartido' role="form">
            {% csrf_token %}
            <input type="hidden" name="partido_id" value="{{partido.id}}">
            <input type="hidden" name="perfil_id" value="{{perfil.id}}">
            <input type="hidden" name="vieneDe" value="usuarios">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for='comentario'>Nuevo comentario: </label>
                        <textarea id="comentario" style="resize: none;" name="comentario" class="form-control" maxlength="150" onkeyup="javascript:contarCaracteres(this, 'contadorCaracteres')"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-6 text-left">
                    <h5 id="contadorCaracteres" title="Caracteres disponibles" class="cursiva">Caracteres disponibles: 150</h5>
                </div>
                <div class="col-lg-6 col-xs-6 text-right">
                    <button id="btn-pass" type="button" class="btn btn-success" onClick="submitComentario()">
                        <span class="glyphicon" id="icono_login_pass" aria-hidden="true"></span> Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" id="fila_comentarios">
    <div class="col-lg-12"><hr></div>
</div>

<!-- Listado de comentarios -->
{% for comentario in comentarios %}

     <div class="row">
         <div class="hidden-xs hidden-sm col-lg-1 col-xs-1">
             {% if comentario.perfil.imagen == "" or comentario.perfil.imagen == None %}
                <img src="{{STATIC_URL}}img/no-image.png" title="Imagen no disponible" alt="{{perfil.user.first_name}}" class="img-rounded" style="max-width: 100%">
             {% else %}
                <img src="{{MEDIA_URL}}{{perfil.imagen}}" title="{{perfil.user.first_name}}" alt="{{perfil.user.first_name}}" class="img-rounded" style="max-width: 100%">
             {% endif %}
         </div>
         <div class="col-lg-10 col-xs-10">
             <blockquote>
                 <p class=""><i class="fa fa-quote-right fa-1x"></i> {{comentario.texto}}</p>
                 <footer>Por <strong class="blue">@{{comentario.creado_por.user.username}}</strong>, {{comentario.fecha}}</footer>
             </blockquote>
         </div>
         <div class="col-lg-1">
             {% if comentario.creado_por == perfil %}
                 <button type="button" title="Eliminar comentario" class="btn btn-danger pull-right" aria-label="Right Align">
                     <i class="fa fa-trash"></i>
                 </button>
             {% endif %}
         </div>

    </div>

{% empty %}

    <div class="row min_height_50">
        <div class="col-lg-12">
            No hay comentarios sobre este partido, ¡se el primero en comentarlo!
        </div>
    </div>

{% endfor %}

{% endblock %}

{% block js %}
{% endblock %}

{% block importaciones %}
    <script type="text/javascript" src="{{STATIC_URL}}js/usuarios/partidos.js?v=1.0"></script>
{% endblock %}

{% block document_ready %}
    $(".botonera").removeClass("active");
    $("#enlace_buscar_clubes").addClass("active");
{% endblock %}
