{% extends 'administracion/template_admin.html' %}
{% block nombre_usuario %}
    {{perfil.user.first_name}}
{% endblock %}

{% block meta %}
    <!-- Compartir partido en facebook -->
    <meta property="og:title" content="{{evento_editar.nombre}} en {{club.nombre}}, con Sportclick.com" />
    <meta property="og:description" content='{{fecha|date:"d/m/Y"}}' />
    {% if club.imagen == "" or club.imagen == None %}
        <meta property="og:image" content="{{STATIC_URL}}img/Logo_v2.png"/>
    {% else %}
        <meta property="og:image" content="{{MEDIA_URL}}{{club.imagen}}"/>
    {% endif %}
    <meta property="og:url" content="http://{{request.get_host}}/club/{{club.separa_guiones_nombre}}/partidos/{{partido.id}}" />

{% endblock %}

{% block nombre_principal %}
    Editar evento - {{club.nombre}}
{% endblock %}

{% block barra_navegacion %}
<ol class="breadcrumb">
  <li><a href="/administrador/{{perfil.user.id}}">Inicio</a></li>
  <li><a href="/administrador/{{perfil.user.id}}/eventos">Eventos</a></li>
  <li class="active">Editar evento</li>
</ol>
{% endblock %}

{% block fila_superior %}
<!-- /.row -->
{% endblock %}

{% block pagina_central %}

{% if errores %}
    <div class="row">
        <div class="col-lg-10">
            <div class="alert alert-danger" role="alert">
                {% for error in errores %}
                    {{error}} <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if success %}
    <div class="row">
        <div class="col-lg-10">
            <div class="alert alert-success" role="alert">{{success}}</div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-lg-10 text-right">
        <a class="btn btn-primary btn-rrss"
           href="http://www.facebook.com/sharer.php?u=http://{{request.get_host}}/club/{{club.separa_guiones_nombre}}/eventos/{{evento.id}}" target="_blank" role="button" data-site="">

            <i class="fa fa-thumbs-up fa-fw"></i> Compartir este evento en Facebook
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-10"><hr/></div>
</div>

<form id="editar_evento" method="post" action="/administrador/{{perfil.user.id}}/eventos/{{evento_editar.id}}/editar" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row form-group">
        <div class="col-lg-2 col-md-2">
            <label for="nombre">Nombre del evento:</label>
        </div>
        <div class="col-lg-8 col-md-8">
            <input type="text" class="form-control obligatorio" maxlength="50" name="nombre" id="nombre" placeholder="Nombre del evento" value="{{nombre}}" {% if evento_editar.bloqueado %}disabled="disabled"{%endif%}>
        </div>
    </div>
    {% if imagen != "" or imagen != None %}
        <div class="row form-group">
            <div class="col-lg-2 col-md-2">
                <label for="nombre">Imagen actual:</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <img src="{{MEDIA_URL}}{{imagen}}" title="{{nombre}}" alt="{{nombre}}" class="img-rounded" style="max-width: 100%">
            </div>
        </div>
    {% endif %}
    <div class="row form-group">
        <div class="col-lg-2 col-md-2">
            <label for="id_fecha">Fecha:</label>
        </div>
        <div class="col-lg-2 col-md-2">
            <input type="text" class="form-control obligatorio" name="fecha" id="id_fecha" placeholder="dd/mm/yyyy" value='{{fecha|date:"d/m/Y"}}' {% if evento_editar.bloqueado %}disabled="disabled"{%endif%}>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2 col-md-2">
            <label for="id_hora">Hora comienzo:</label>
        </div>
        <div class="col-lg-2 col-md-2">
            <select name="hora" class="form-control obligatorio" id="id_hora" {% if evento_editar.bloqueado %}disabled="disabled"{%endif%}>
                {% for hora in horas%}
                    <option val="{{hora}}" {%if hora_evento == hora%}selected="selected"{%endif%}>{{hora}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-md-offset-2">
            <label for="id_hora">Minutos comienzo:</label>
        </div>
        <div class="col-lg-2 col-md-2">
            <select name="minutos" class="form-control obligatorio" id="id_minutos" {% if evento_editar.bloqueado %}disabled="disabled"{%endif%}>
                {% for min in minutos %}
                    <option val="{{min}}"{%if minuto_evento == min%}selected="selected"{%endif%}>{{min}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2 col-md-2">
            <label for="imagen_perfil">Imagen:</label>
        </div>
        <div class="col-lg-6 col-md-6">
            <input type="file" class="" id="imagen_perfil" name="imagen" value="{{imagen}}" {% if evento_editar.bloqueado %}disabled="disabled"{%endif%}>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2 col-md-2">
            <label for="descripcion">Descripción:</label>
        </div>
        <div class="col-lg-6 col-md-6">
            <textarea class="form-control obligatorio" rows="4" cols="8" name="descripcion" id="descripcion" maxlength="350" {% if evento_editar.bloqueado %}disabled="disabled"{%endif%}>{{descripcion}}</textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-10">
            <div class="well well-sm">
                <p>
                    A continuación, seleccione las pistas que se van a reservar para el evento, y las franjas horarias en las que se han a reservar.<br>
                    Se crearán partidos asociados a este evento en las franjas horarias y pistas seleccionadas.
                </p>
            </div>
        </div>
    </div>

    <!-- Franjas horarias reservadas para el evento -->
    <div class="row">
        <div class="col-lg-10">
            <h5 class="strong">Franjas horarias reservadas para el evento</h5><hr>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            {% for fh in franjas_horarias %}

                {% if forloop.counter0|divisibleby:"2" %}
                    <div class="row">
                {% endif %}

                        <div class="col-lg-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" {%if fh.id in fh_eventos_id %}checked="true"{%endif%}
                                           onchange="javascript:actualiza_estado_visible(this, 'fh_{{fh.id}}')" title="Reservar franja horaria"
                                             {% if evento_editar.bloqueado %}disabled="disabled"{%endif%}>
                                    {{fh.inicio|time:'G:i'}} - {{fh.fin|time:'G:i'}}
                                </label>
                                <input type="hidden" id="fh_{{fh.id}}" name="fh_{{fh.id}}" {%if fh.id in fh_eventos_id%}value="1"{%else%}value="0"{%endif%}>
                            </div>
                        </div>

                {% if not forloop.counter0|divisibleby:"2"  or forloop.last %}
                    </div>
                {% endif %}

            {% empty %}
                No hay franjas reservadas
            {% endfor %}
        </div>
    </div>

    <!-- Pistas reservadas para el evento -->
    <div class="row">
        <div class="col-lg-10">
            <h5 class="strong">Pistas reservadas para el evento</h5><hr>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            {% for pista in pistas %}

                {% if forloop.counter0|divisibleby:"2" %}
                    <div class="row">
                {% endif %}

                        <div class="col-lg-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" {%if pista.id in pistas_eventos_id %}checked="true"{%endif%}
                                           onchange="javascript:actualiza_estado_visible(this, 'pista_{{pista.id}}')"
                                           title="Reservar pista"
                                           {% if evento_editar.bloqueado %}disabled="disabled"{%endif%}>
                                    {{pista.nombre}} - {{pista.deporte.deporte}}
                                </label>
                                <input type="hidden" id="pista_{{pista.id}}" name="pista_{{pista.id}}" {%if pista.id in pistas_eventos_id%}value="1"{%else%}value="0"{%endif%}>
                            </div>
                        </div>

                {% if not forloop.counter0|divisibleby:"2"  or forloop.last %}
                    </div>
                {% endif %}

            {% empty %}
                No hay pistas reservadas
            {% endfor %}
        </div>
    </div>

    {% if not evento_editar.bloqueado %}
    <div class="row form-group">
        <div class="col-lg-2 col-md-2">
            <button type="button" class="btn btn-primary" onclick="javascript:submit_editar_evento()"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>
    {% endif %}
</form>

{% endblock %}

{% block js %}
    $("#enlace_eventos").addClass("active")
{% endblock %}
