{% extends 'administracion/template_admin.html' %}

{% block nombre_usuario %}
    {{perfil.user.first_name}}
{% endblock %}

{% block nombre_principal %}
    Página principal - {{club.nombre}}
{% endblock %}

{% block fila_superior %}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-futbol-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{num_partidos_hoy}}</div>
                        <div>Partidos del día</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{num_partidos_en_juego}}</div>
                        <div>Partidos en juego</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bullhorn fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{num_partidos_abiertos_hoy}}</div>
                        <div>Partidos abiertos</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{jugadores.count}}</div>
                        <div>Jugadores</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block pagina_central %}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Partidos para hoy {% now "j F Y " %}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                {% if franjas_horarias %}
                    <div class="row form-group">
                        <div class="col-lg-4 col-sm-offset-4" title="Selección de franja horaria">
                            <form action="/administrador/{{perfil.user.id}}" id="franjas_horarias_form" method="POST">{% csrf_token %}
                                <select name="franja_horaria" class="form-control" id="franja_horaria" onchange='$("#franjas_horarias_form").submit()'>
                                    {%for franja in franjas_horarias%}
                                        <option value="{{franja.id}}" {% if franja.id == franja_horaria_actual.id %}selected = "selected"{% endif %}>{{franja.inicio|time:'G:i'}} - {{franja.fin|time:'G:i'}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                    <hr>
                {% endif %}

                {% for pista, partido in pistas_partidos.iteritems %}
                    {% if forloop.counter0|divisibleby:"2" %}
                        <div class="row">
                    {% endif %}
                        <div class="col-lg-1">
                            <input type="hidden" id="num_jugadores_pista_{{pista.id}}" value="{{partido.perfiles.count}}">
                            <input type="hidden" id="partido_id_pista_{{pista.id}}" value="{{partido.id}}">
                        </div>
                        <a {% if not partido == "" %}
                                href="/administrador/{{perfil.user.id}}/partido/{{partido.id}}/editar"
                                title="Ver/Editar este partido"
                           {% else %}
                                href="/administrador/{{perfil.user.id}}/nuevo?pista_id={{pista.id}}&fh_id={{franja_horaria_actual.id}}"
                                title="Crear partido"
                           {% endif %}
                           class="enlace_negro"
                        >
                            <div id="pista_{{pista.id}}" class="principal_partido col-lg-4  row-altura row-margin-top-10 {%if partido.perfiles.count == 4%} pista_verde {%elif partido.perfiles.count > 0 and partido.perfiles.count < 4 %} pista_amarilla {%else%}pista_roja{%endif%}">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 row-centered">
                                        <h4 class="color_blanco">{{pista.nombre}}</h4>
                                        <h4 class="color_blanco">- {{pista.deporte.deporte}} -</h4>
                                    </div>
                                </div>
                                <div class="row row-centered">
                                    <div class="col-lg-12 col-md-12">
                                        {% if partido.perfiles.count > 0 %}
                                            <i class="fa fa-user fa-fw"></i>{{partido.perfiles.count}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-lg-1"></div>
                    {% if not forloop.counter0|divisibleby:"2"  or forloop.last %}
                        </div>
                    {% endif %}

                {% empty %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            Aún no se ha dado de alta ninguna pista.<br>
                            <a href="/administrador/{{perfil.user.id}}/club#crear_pistas">Pulse para crearlas.</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <a href="/administrador/{{perfil.user.id}}/nuevo" title="Nuevo partido">Crear partido</a>
                <div class="pull-right">
                    <p class="text-info" title="Franja horaria">{{franja_horaria_actual.inicio|time:'G:i'}} - {{franja_horaria_actual.fin|time:'G:i'}}</p>
                </div>
            </div>
            <!-- /.panel-footer -->
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">

        {% if notificaciones|length > 0 %}
        <div class="panel {%if notificaciones|length > 0 %}panel-info{% else %}panel-default{%endif%}">
            <div class="panel-heading">
                <a href="/administrador/{{perfil.user.id}}/notificaciones" title="Ir a notificaciones" class="link_limpio {%if notificaciones|length == 0%}oscuro{%endif%}">
                    <i class="fa fa-bell fa-fw"></i> Notificaciones <span class="badge">{{notificaciones|length}}</span>
                </a>
            </div>
            <div class="panel-body">
                {% for n in notificaciones|slice:":5" %}
                    <div class="row">
                        <div class="col-lg-4">
                            {% if n.inscripcionEnClub %}
                                {% if n.inscripcionEnClub.jugador.imagen == "" %}
                                    <img src="{{STATIC_URL}}img/no-image.png" title="Imagen no disponible" alt="{{n.inscripcionEnClub.jugador.user.first_name}}" class="img-rounded" style="max-width: 100%">
                                {% else %}
                                    <img src="{{MEDIA_URL}}{{n.inscripcionEnClub.jugador.imagen}}" title="{{n.inscripcionEnClub.jugador.user.first_name}}" alt="{{n.inscripcionEnClub.jugador.user.first_name}}" class="img-rounded" style="max-width: 100%">
                                {% endif %}
                            {% endif %}
                            {% if n.inscripcionEnPartido %}
                                {% if n.inscripcionEnPartido.jugador.imagen == "" %}
                                    <img src="{{STATIC_URL}}img/no-image.png" title="Imagen no disponible" alt="{{n.inscripcionEnPartido.jugador.user.first_name}}" class="img-rounded" style="max-width: 100%">
                                {% else %}
                                    <img src="{{MEDIA_URL}}{{n.inscripcionEnPartido.jugador.imagen}}" title="{{n.inscripcionEnPartido.jugador.user.first_name}}" alt="{{n.inscripcionEnPartido.jugador.user.first_name}}" class="img-rounded" style="max-width: 100%">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-lg-8">
                            <div class="row">

                                    {% if n.inscripcionEnClub %}
                                        <a href="/administrador/{{perfil.user.id}}/jugadores/{{n.inscripcionEnClub.jugador.id}}">
                                            <strong>{{n.inscripcionEnClub.jugador.user.first_name}} {{n.jugador.user.last_name}}</strong>
                                        </a>, quiere unirse al club.
                                    {% endif %}
                                    {% if n.inscripcionEnPartido %}
                                        <a href="/administrador/{{perfil.user.id}}/jugadores/{{n.inscripcionEnPartido.jugador.id}}">
                                            <strong>{{n.inscripcionEnPartido.jugador.user.first_name}} {{n.jugador.user.last_name}}</strong>
                                        </a>, quiere unirse a un <a href="/administrador/{{perfil.user.id}}/partido/{{n.inscripcionEnPartido.partido.id}}/editar">partido</a>.<br>
                                        <span class="gris cursiva">{{n.inscripcionEnPartido.partido.fecha}}</span><br>
                                        <span class="gris cursiva">{{n.inscripcionEnPartido.partido.pista.nombre}} - {{n.inscripcionEnPartido.partido.franja_horaria.inicio|time:'G:i'}}</span>
                                    {% endif %}

                            </div><!--
                            <div class="row">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-sm btn-redondo"><i class="fa fa-check"></i></button>
                                        <button type="button" class="btn btn-danger btn-sm btn-redondo"><i class="fa fa-check"></i></button>
                                    </div>
                            </div>-->
                        </div>
                    </div>
                {% empty %}
                    No tienes notificaciones nuevas
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-graduation-cap fa-fw"></i> Leyenda de pistas
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <i class="fa fa-circle fa-fw color-pista-roja"></i> No hay partido
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <i class="fa fa-circle fa-fw color-pista-amarilla"></i> Partido no completo
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <i class="fa fa-circle fa-fw color-pista-verde"></i> Partido completo
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bars fa-fw"></i> Menú de accceso rápido
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/administrador/{{perfil.user.id}}/nuevo"><i class="fa fa-plus-square-o fa-fw"></i> Nuevo partido</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/administrador/{{perfil.user.id}}/jugadores/nuevo"><i class="fa fa-user fa-fw"></i> Nuevo jugador</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="http://www.eltiempo.es/{{municipio_guiones}}.html" target="_blank"><i class="fa fa-sun-o fa-fw"></i> El tiempo en {{club.municipio.municipio}}</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="javascript:mostrar_contacto();desplaza('form_contacto');"><i class="fa fa-life-ring fa-fw"></i> Soporte técnico</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Desconectar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->


<!-- /.row -->
{% endblock %}

{% block js %}
    $("#enlace_pagina_principal").addClass("active")
{% endblock %}