{% extends 'administracion/template_admin.html' %}
{% block nombre_usuario %}
    {{perfil.user.first_name}}
{% endblock %}

{% block nombre_principal %}
    Notificaciones - {{club.nombre}}
{% endblock %}

{% block barra_navegacion %}
<ol class="breadcrumb">
  <li><a href="/administrador/{{perfil.user.id}}">Inicio</a></li>
  <li class="active">Notificaciones</li>
</ol>
{% endblock %}

{% block fila_superior %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="well well-sm">
            <h4>Notificaciones</h4>
            <p>
                En esta página podrás ver todas las notificaciones que recibe tu club: <br>
                - Peticiones de jugadores para unirse a tu club.<br>
                - Peticiones de juego
            </p>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block pagina_central %}
<div class="row">
    <div class="col-lg-12">
        <h4>Notificaciones</h4><hr>
    </div>
</div>
{% for n in notificaciones %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info {%if not n.leido %}fondo-info{% endif %}" id="panel_{{n.id}}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                            {% if n.inscripcionEnClub %}
                                {% if n.inscripcionEnClub.jugador.imagen == "" %}
                                    <img src="{{STATIC_URL}}img/no-image.png" title="Imagen no disponible" alt="{{n.inscripcionEnClub.jugador.user.first_name}}" class="img-rounded" style="max-width: 100%">
                                {% else %}
                                    <img src="{{MEDIA_URL}}{{n.inscripcionEnClub.jugador.imagen}}" title="{{n.inscripcionEnClub.jugador.user.first_name}}" alt="{{n.inscripcionEnClub.jugador.user.first_name}}" class="img-rounded" style="max-width: 100%">
                                {% endif %}
                            {% endif %}
                            {% if n.inscripcionEnPartido %}
                                {% if n.inscripcionEnPartido.jugador.imagen == "" %}
                                    <img src="{{STATIC_URL}}img/no-image.png" title="Imagen no disponible" alt="{{n.inscripcionEnPartido.jugador.user.first_name}}" class="img-rounded" style="max-width: 100%">
                                {% else %}
                                    <img src="{{MEDIA_URL}}{{n.inscripcionEnPartido.jugador.imagen}}" title="{{n.inscripcionEnPartido.jugador.user.first_name}}" alt="{{n.inscripcionEnPartido.jugador.user.first_name}}" class="img-rounded" style="max-width: 100%">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                {% if n.inscripcionEnClub %}
                                    <div class="col-lg-12"><i class="fa fa-user fa-fw"></i> <strong>{{n.inscripcionEnClub.jugador.user.first_name}} {{n.inscripcionEnClub.jugador.user.last_name}}</strong>, te ha envidado una petición para unirse a tu club.</div>
                                {% endif %}
                                {% if n.inscripcionEnPartido %}
                                    <div class="col-lg-12"><i class="fa fa-user fa-fw"></i> <strong>{{n.inscripcionEnPartido.jugador.user.first_name}} {{n.inscripcionEnPartido.jugador.user.last_name}}</strong>, te ha envidado una petición para unirse a <a href="/administrador/{{perfil.user.id}}/partido/{{n.inscripcionEnPartido.partido.id}}/editar">este partido</a></div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if n.inscripcionEnClub %}
                                    <div class="col-lg-12"><h5><i class="fa fa-phone fa-fw"></i> {{n.inscripcionEnClub.jugador.telefono}}</h5></div>
                                {% endif %}
                                {% if n.inscripcionEnPartido %}
                                    <div class="col-lg-12"><h5><i class="fa fa-phone fa-fw"></i> {{n.inscripcionEnPartido.jugador.telefono}}</h5></div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-lg-12"><h5><i class="fa fa-calendar fa-fw"></i> {{n.fecha}}</h5></div>
                            </div>
                            {% if not n.leido %}
                            <div class="row" id="texto_leida_{{n.id}}">
                                <div class="col-lg-12"><h5><i class="fa fa-check fa-fw"></i><a href="javascript:marcar_como_leida({{n.id}})" style="cursor:pointer"> Marcar como leída</a> </h5></div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-2">
                            {% if n.inscripcionEnClub and n.inscripcionEnClub.estado == None or n.inscripcionEnPartido and n.inscripcionEnPartido.estado == None and not n.inscripcionEnPartido.partido.bloqueado %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" id="btn_aceptar_inscripcion_{{n.id}}" class="btn btn-success btn-sm" aria-label="Right Align" onclick="javascript:inscripcion_clubes({{n.id}}, 'True');">
                                            <i class="fa fa-check"></i> Aceptar
                                        </button>
                                    </div>
                                </div>
                                <div class="row row-margin-top-10">
                                    <div class="col-lg-12">
                                        <button type="button" id="btn_denegar_inscripcion_{{n.id}}" class="btn btn-info btn-sm" aria-label="Right Align" onclick="javascript:inscripcion_clubes({{n.id}}, 'False');">
                                            <i class="fa fa-close"></i> Denegar
                                        </button>
                                    </div>
                                </div>
                                <form id="form_inscripcion_{{n.id}}" action="">
                                    {% csrf_token %}
                                    <input type="hidden" id="inscripcion_id_{{n.id}}" name="inscripcion_id" value="{{n.id}}">
                                    <input type="hidden" id="estado_id_{{n.id}}" name="estado" value="">
                                    <input type="hidden" id="club_id" name="club_id" value="{{club.id}}">
                                    {% if n.inscripcionEnClub %}
                                        <input type="hidden" id="jugador_id_{{n.id}}" name="jugador_id" value="{{n.inscripcionEnClub.jugador.id}}">
                                    {% endif %}
                                    {% if n.inscripcionEnPartido %}
                                        <input type="hidden" id="jugador_id_{{n.id}}" name="jugador_id" value="{{n.inscripcionEnPartido.jugador.id}}">
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row row-margin-top-10" id="error_notificacion_{{n.id}}" style="display:none">
                        <div class="col-lg-12">
                            <p class="bg-danger my_error" id="error_notificacion_texto_{{n.id}}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% empty %}

{% endfor %}

{% endblock %}

{% block js %}

{% endblock %}
