{% extends 'usuarios/template_usuarios.html' %}
{% block nombre_usuario %}
    {{perfil.user.first_name}}
{% endblock %}

{% block nombre_principal %}
    Mis clubes
{% endblock %}

{% block barra_navegacion %}
<ol class="breadcrumb">
  <li><a href="/usuario/{{perfil.user.id}}">Inicio</a></li>
  <li class="active">Mis clubes</li>
</ol>
{% endblock %}

{% block fila_superior %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="well well-sm">
            <h4>Gestiona tus clubes</h4>
            <p>
                En esta página podrás ver todos las novedades que tienen los clubes en los que juegas.<br>
            </p>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}

{% block pagina_central %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        {% for club in clubes %}
            <div class="row" id="fila_club_{{club.id}}">
                <div class="col-lg-12">
                   <div class="panel panel-primary fondo-info">
                       <div class="panel-body">
                           <div class="row">
                               <div class="col-lg-2">
                                   {% if club.imagen == "" %}
                                        <img src="{{STATIC_URL}}img/club-no-image.png" alt="{{club.nombre}}" class="img-rounded" style="max-width: 100%">
                                   {% else %}
                                        <img src="{{MEDIA_URL}}{{club.imagen}}" alt="{{club.nombre}}" class="img-rounded" style="max-width: 100%">
                                   {% endif %}
                               </div>
                               <div class="col-lg-8">
                                   <div class="row">
                                       <div class="col-lg-12"><i class="fa fa-tag fa-1"></i> <strong>Nombre:</strong> {{club.nombre}}</div>
                                   </div>
                                   <div class="row">
                                       <div class="col-lg-12"><i class="fa fa-location-arrow fa-1"></i> <strong>Dirección:</strong> {{club.direccion}}, {{club.municipio.municipio}} ({{club.municipio.provincia.provincia}})</div>
                                   </div>
                                   <div class="row">
                                       <div class="col-lg-12">
                                           <i class="fa fa-quote-left fa-1"></i> <strong>Descripción:</strong>
                                           {{club.descripcion}}
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-lg-12"><p style="display:none;color:red" id="error_baja_club_{{club.id}}"></p></div>
                                   </div>
                               </div>
                               <div class="col-lg-2">
                                   <div class="row">
                                       <div class="col-lg-12">
                                           <form id="form_baja_club_{{club.id}}">
                                               {% csrf_token %}
                                               <input type="hidden" name="club_id" value="{{club.id}}">
                                               <input type="hidden" name="perfil_id" value="{{perfil.id}}">
                                           </form>
                                           <button type="button" id="btn_baja_{{club.id}}" class="btn btn-danger btn-sm pull-right" aria-label="Right Align" onclick="javascript:baja_clubes({{club.id}});">
                                                <i class="fa fa-close"></i> Dar de baja
                                           </button>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
            <div class="row" style="display:none" id="ok_baja_club_{{club.id}}">
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Se ha dado de baja correctamente del club <strong>{{club.nombre}}</strong>
                    </div>
                </div>
            </div>
        {% empty %}
            Todavía no te has inscrito en ningún club. <a href="/usuario/{{perfil.user.id}}/buscador/clubes">¡Inscríbete en alguno!</a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
    $(".botonera").removeClass("active");
{% endblock %}

{% block importaciones %}
    <script type="text/javascript" src="{{STATIC_URL}}js/usuarios/clubes.js"></script>
{% endblock %}

{% block document_ready %}
    $(".botonera").removeClass("active");
    $("#enlace_mis_clubes").addClass("active");
{% endblock %}
